<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>726126971157-nn56rubd0spugqfcng3nerf0dd26kppk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726126971157-nn56rubd0spugqfcng3nerf0dd26kppk</string>
	<key>API_KEY</key>
	<string>AIzaSyDyoFNQR-MX8Rd4OBQdleU6Sj8ITx_p0R4</string>
	<key>GCM_SENDER_ID</key>
	<string>726126971157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.xzFbQuery</string>
	<key>PROJECT_ID</key>
	<string>xz-sandbox-test</string>
	<key>STORAGE_BUCKET</key>
	<string>xz-sandbox-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726126971157:ios:e66eeb88d7c5f280f1c11c</string>
	<key>DATABASE_URL</key>
	<string>https://xz-sandbox-test.firebaseio.com</string>
</dict>
</plist>